# Fish
fish/plugins
fishd.*
fish_history*
fish_read_history
fish/local.fish

# Neovim
tags
neovim/autoload
neovim/colors
neovim/plugged
neovim/tmp

# Terminal
*.ti

# Atom
atom/*
!atom/*.cson
!atom/*.less
!atom/*.coffee
!atom/packages.list
