.DS_Store

# iTerm
iterm/*.itermcolors

# Fish
fish/plugins
fishd.*
fish_history*
fish_read_history
fish/local.fish
fish/functions/*
fish/completions
fish/conf.d
!fish/functions/fish_mode_prompt.fish
!fish/functions/fish_prompt.fish
!fish/functions/fish_title.fish

# Neovim
tags
neovim/.net
neovim/.netrwhist
neovim/autoload/plug.vim*
neovim/colors
neovim/plugged
neovim/plug
neovim/tmp

# Atom
atom/*
!atom/*.cson
!atom/*.less
!atom/*.coffee
!atom/packages.list

node_modules
