# Fish
fish/plugins
fishd.*
fish_history*
fish_read_history
fish/local.fish
fish/functions/__*

# Neovim
tags
neovim/autoload/plug.vim*
neovim/colors
neovim/plugged
neovim/tmp

# Terminal
*.ti

# Atom
atom/*
!atom/*.cson
!atom/*.less
!atom/*.coffee
!atom/packages.list

node_modules
