snippet f
# options word
  const ${1} = (${2}) => {
		${0}
  }

snippet if
# options head
  if (${1:true}) {
    ${0:TARGET}
  }

snippet if-else
abbr ife
# options head
  if (${1:#:condition}) {
		${2:TARGET}
  } else {
		${3}
  }

snippet cl
# options word
  console.log({ ${0:TARGET} })
