@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code');
    unicode-range: U+0021-0026, U+002A-002B, U+002D-002F, U+003A-003E, U+007B-007E;
}

.view-lines {
    font-family: 'Fira Code', 'Operator Mono' !important;
}

.dropdown.send-feedback {
    display: none !important;
}
