"*":
  "atom-clock":
    dateFormat: "ddd DD MMM - HH:mm"
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  autosave:
    enabled: true
  "battery-status": {}
  blame: {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "react"
      "nuclide"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  docblockr: {}
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "6c6a98d9-2111-055b-3833-19630a0052fc"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace": {}
  "fuzzy-finder":
    preserveLastSearch: true
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "highlight-selected": {}
  "isotope-ui":
    fontWeight: "Extra light / Thin"
    minimalMode: true
  "js-hyperclick": {}
  linter:
    displayLinterStatus: false
    showErrorInline: false
    underlineIssues: false
  "linter-eslint":
    globalNodePath: "/Users/roberto/.n"
  "linter-js-standard":
    checkStyleDevDependencies: true
    honorStyleSettings: true
    lintMarkdownFiles: true
    showEslintRules: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "one-dark-ui":
    fontSize: 11
    layoutMode: "Compact"
    tabSizing: "Even"
  pigments:
    extendAutocompleteToVariables: true
  react:
    enabledForAllJavascriptFiles: true
  "split-diff":
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  "tab-control": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tabs-to-spaces":
    onSave: "untabify"
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    flashOnOperate: false
    flashOnUndoRedoDuration: 150
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    showStatusBarIcon: false
  "wakatime-hidden":
    lastInit: 1469106190
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".js.jsx.source":
  editor:
    autoIndentOnPaste: true
