# workspace
'atom-workspace:not([mini])':
  'ctrl-g': 'core:cancel'

# text-editor
'atom-text-editor:not([mini])':
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

# text-editor.mini
'atom-text-editor[mini]':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'ctrl-w': 'editor:delete-to-beginning-of-word'

# normal
'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'

  'g f': 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'

  'g x': 'link:open'
  'cmd-enter': 'vim-mode-plus:maximize-pane'

  'ctrl-g': 'vim-mode-plus:reset-normal-mode'
  'g c': 'vim-mode-plus:select-latest-change'
  'S': 'vim-mode-plus:surround-smart-word'
  'y s': 'vim-mode-plus:surround'
  'm s': 'vim-mode-plus:map-surround'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'

  # Need vim-mode-plus-ex-mode package
  ':': 'vim-mode-plus-ex-mode:open'
  '!': 'vim-mode-plus-ex-mode:toggle-setting'

  'space n': 'editor:toggle-line-numbers'
  'space i': 'user:toggle-show-invisible'
  'space I': 'editor:toggle-indent-guide'
  'space w': 'editor:toggle-soft-wrap'
  'space /': 'vim-mode-plus:clear-highlight-search'

# insert
# 'atom-text-editor.vim-mode-plus.insert-mode':
#   'cmd-f': 'editor:move-to-end-of-word'
#   'cmd-b': 'editor:move-to-beginning-of-word'
#   'cmd-d': 'editor:delete-to-end-of-word'
#   'cmd-m': 'editor:select-word'
#   'ctrl-y': 'clip-history:paste'
#   'cmd-y': 'clip-history:paste-newer'
#   'ctrl-Y': 'clip-history:paste-last'
#   'ctrl-i': 'vim-mode-plus:insert-last-inserted'

# non-insert
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g C': 'vim-mode-plus:camel-case'

  'ctrl-cmd-k': 'vim-mode-plus:move-up-to-edge'
  'ctrl-cmd-j': 'vim-mode-plus:move-down-to-edge'

  '[': 'vim-mode-plus:move-to-previous-fold-start'
  ']': 'vim-mode-plus:move-to-next-fold-start'
  'ctrl-p': 'vim-mode-plus:move-to-previous-fold-start'
  'ctrl-n': 'vim-mode-plus:move-to-next-fold-start'

  '(': 'vim-mode-plus:move-to-previous-fold-start-with-same-indent'
  ')': 'vim-mode-plus:move-to-next-fold-start-with-same-indent'

# visual, operator-pending
'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'g _': 'vim-mode-plus:snake-case'
  ";": 'vim-mode-plus:inner-any-pair-allow-forwarding'
  ":": 'vim-mode-plus:a-any-pair-allow-forwarding'
  "'": 'vim-mode-plus:inner-any-quote',


# visual
'atom-text-editor.vim-mode-plus.visual-mode':
  # Need vim-mode-plus-move-selected-text package
  'ctrl-k': 'vim-mode-plus-user:move-selected-text-up'
  'ctrl-j': 'vim-mode-plus-user:move-selected-text-down'
  'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'
  'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'

  'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
  'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
  'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
  'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'

# operator-pending
'atom-text-editor.vim-mode-plus.operator-pending-mode':
  'c': 'vim-mode-plus:inner-word'

# normal, visual
'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  '_': 'vim-mode-plus:replace-with-register'

# Input
# -------------------------
'atom-text-editor.vim-mode-plus-input':
  'ctrl-g': 'vim-mode-plus:input-cancel'

# Search input
# -------------------------
'atom-text-editor.vim-mode-plus-search:not(.literal-mode)':
  '[': 'vim-mode-plus:search-visit-prev'
  ']': 'vim-mode-plus:search-visit-next'
  ';': 'vim-mode-plus:search-confirm'
  'ctrl-g': 'vim-mode-plus:search-cancel'

# Other
# -------------------------
'.select-list':
  ';': 'core:confirm'
  'ctrl-l': 'pane:split-right'
  'ctrl-j': 'pane:split-down'
  'ctrl-g': 'core:cancel'
