// Vim mode status
#status-bar-vim-mode-plus-container {
  vertical-align: middle;

  div {
    line-height: 20px;
    border-radius: 4px;
    padding: 0 5px;
    color: #FFF;

    &.status-bar-vim-mode-plus-insert {
      background-color: #3D9970;
    }

    &.status-bar-vim-mode-plus-normal {
      background-color: #0074D9;
    }

    &.status-bar-vim-mode-plus-visual {
      background-color: #B10DC9;
    }
  }
}

// atom-workspace,
// atom-text-editor {
//   font-family: "Fira Code";
//   text-rendering: optimizeLegibility;
//   font-size: 13px;
//   font-weight: 400;
//   line-height: 1.8;
// }
//
// atom-text-editor::shadow {
//     .entity.other.attribute-name {
//         font-family: "Operator Mono";
//         font-size: 14px;
//         font-style: italic;
//     }
// }

// atom-workspace,
// atom-text-editor {
//    font-family: "Operator Mono";
//    font-size: 14px;
//    font-weight: 400;
//    line-height: 1.7;
// }
// atom-panel.tool-panel {
//    font-size: 0.88em;
// }
// .entity.other.attribute-name {
//     font-style: italic;
// }
// atom-text-editor::shadow{
//     .entity.other.attribute-name {
//         font-style: italic;
//     }
// }

// // JS return
// atom-text-editor::shadow {
//   .flow {
//     color: #FF0095;
//     font-weight: bold;
//   }
//
//   .readwrite,
//   .other.object {
//     color: #CC8700;
//     font-style: italic;
//   }
// }
